@import './fonts.less';

@btn-font-weight: 700;
@btn-shadow: 0;
@btn-text-shadow: 0;
@btn-border-width: 1px;

// Type - Primary
@btn-primary-shadow: 0;
@btn-primary-color: #FFF;

// Type - Default
@btn-default-color: rgba(#000, 0.45);

// Size - Base
@btn-height-base: 40px;
@btn-border-radius-base: 6px;
@btn-padding-horizontal-base: 12px;

.ant-btn {
    font-family: @NotoSans-Family;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-color: rgba(#000, 0.1);
    &.color-opacity-1 {
        color: rgba(#000, 1);
    }
    &:disabled {
        background: #F7F7F7;
        color:rgba(#000,0.25) !important;
    }
}

