@checkbox-size: 14px;
@checkbox-color: #0AC775;
@checkbox-border-radius: 3px;

.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    border-color: rgba(0, 0, 0, 0.1);
}
.ant-tree-checkbox {
    margin-top: 0;
}