.ant-drawer-content-wrapper {
    width: 240px !important;
    & .ant-layout-sider {
        width: 240px !important;
        max-width: 240px !important;
        min-width: 240px !important;
        top: 0 !important;
        & .ant-layout-sider-children {
            overflow: auto;
        }
    }
}
