@import './fonts.less';

@form-vertical-label-padding: 0 0 4px;
@form-item-margin-bottom: 20px;
@label-required-color: #FF0000;
@label-color: rgba(#000, 0.65);
@form-item-label-font-size: 1.2rem;

.ant-form-item-explain-error {
    font-family: @NotoSans-Family;
    margin-top: 1px;
    font-size: @form-item-label-font-size;
    line-height: @form-item-label-height;
}
.ant-form-item-label {
    font-family: @NotoSans-Family;
    line-height: 1.8rem;
}
.ant-form-inline {
    & > .ant-form-item {
        margin-right: 8px;
    }
}
