
@import url('ant-design-vue/dist/antd.less');

@import './button.less';
@import './input.less';
@import './form.less';
@import './badge.less';
@import './pageHeader.less';
@import './select.less';
@import './modal.less';
@import './table.less';
@import './pagination.less';
@import './divider.less';
@import './date-picker.less';
@import './tabs.less';
@import './radio.less';
@import './checkBox.less';
@import './upload.less';
@import './timePicker.less';
@import './drawer.less';

@primary-color: #83AA81;

// breakpoint
@max-width-tablet: 1279px;
@max-width-mobile: 767px;
