@import './fonts.less';

@input-bg: #FFF;
@input-border-color: rgba(#000, 0.08);
@input-placeholder-color: rgba(#000 0.25);

& .ant-input {
    line-height: 4rem;
}
.input() {
    border-radius: 4px;
    padding: 12px 16px;
    height: 40px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: @Sarabun-Family;
}

.textarea {
    resize: none;
}

.ant-input-affix-wrapper {
    display: flex;
    align-items: center;
    & > input.ant-input {
        height: 38px;
    }
}

.ant-input-prefix {
    margin-right: 12px;
}

.ant-input-suffix {
    margin-left: 12px;
    font-family: @Sarabun-Family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.65);
}

.ant-input-number {
    border-color: rgba(#000, 0.08);
}

.ant-form-item-has-error .ant-input-number:focus {
    box-shadow: none;
}

.ant-input-number-group>.ant-input-number:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.ant-input-number-group-addon:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
    border-left: none;
    color: rgba(#000, 0.65);
}
