@page-header-padding: 24px;
@page-header-padding-vertical: 12px;
@page-header-back-color: rgba(#000, 0.85);

.ant-page-header {
    background: #FDFDFD;
    & .ant-page-header-back {
        display: flex;
        background-color: #FAFAFA;
        border: 1px solid rgba(#000, 0.1);
        margin-right: 12px;
        border-radius: 4px;
        & > .ant-page-header-back-button {
            flex: 1;
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }
    & .ant-page-header-heading-left, .ant-page-header-heading-extra {
        margin: 0;
    }
}
