@import './fonts.less';

.ant-table-pagination-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    @media only screen and (max-width: @max-width-mobile) {
        justify-content: center;
    }
    & > .ant-pagination-options {
        order: -1;
        flex: 1;
        font-family: @NotoSans-Family;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: 1px solid rgba(#000, 0.65);
        margin-left: 0;
        @media only screen and (max-width: @max-width-mobile) {
            flex: unset;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &::after {
            content: 'รายการ / หน้า';
            margin-left: 8px;
        }
        &::before {
            content: 'แสดง';
            margin-right: 8px;
        }
        & .ant-select-selector {
            border: 1px solid rgba(#000, 0.1) !important;
            border-radius: 4px !important;
            width: 60px;
            padding: 6px 14px !important;
            display: flex;
            height: 30px !important;
            & .ant-select-selection-item {
                font-size: 1.2rem;
                line-height: 1.6rem;
                padding-right: 0;
            }
        }
    }
}

.ant-pagination-item, .ant-pagination-next, .ant-pagination-prev {
    border-radius: 4px;
    font-family: @NotoSans-Family;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: 1px solid rgba(#000, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    & .ant-pagination-item-link {
        border-radius: 4px;
        border: none;
    }
    &:hover {
        border: 1px solid #1483EA;
    }
}

.ant-pagination-item-active {
    background-color: #1483EA;
    border: none;
    &:hover {
        border: none;
        & > a {
            color: #FFF;
        }
    }
    & > a {
        color: #FFF;
    }
}

.ant-table-pagination.ant-pagination {
    margin-top: 40px;
    padding: 0 40px;
    @media only screen and (max-width: @max-width-tablet) {
        margin-top: 24px;
    }
    @media only screen and (max-width: @max-width-mobile) {
        padding: 0 16px;
    }
}

.table-template-02.responsive-table {
    & .ant-table-pagination.ant-pagination {
        margin-top: 28px;
        @media only screen and (max-width: @max-width-tablet) {
            margin-top: 12px;
        }
    }
}
.table-custom.responsive-table {
    & .ant-table-pagination.ant-pagination {
        margin-top: 28px;
        @media only screen and (max-width: @max-width-tablet) {
            margin-top: 12px;
        }
    }
}