.ant-radio-checked {
    & .ant-radio-inner {
        border-color: #0AC775;
        &::after {
            background-color: #0AC775;
        }
    }
    &:hover {
        & .ant-radio-inner {
            border-color: #0AC775;
        }
    }
    &:after {
        border-color: #0AC775;
    }
    & .ant-radio-input:focus+.ant-radio-inner {
        border-color: #0AC775;
        box-shadow: 0 0 0 3px #e6ffe7;
    }
}
.ant-radio {
    &:hover {
        & .ant-radio-inner {
            border-color: #0AC775;
        }
    }
}