@import './fonts.less';


@input-placeholder-color: rgba(#000, 0.25);

.ant-select-selector {
    border: 1px solid rgba(#000, 0.08) !important;
    border-radius: 4px !important;
    padding: 12px 16px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    & .ant-select-selection-item {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-family: @Sarabun-Family;
    }
    & .ant-select-selection-search {
        display: flex;
        align-items: center;
        left: 16px !important;
    }
}