@import './fonts.less';

.ant-table-thead > tr > th {
    font-family: @NotoSans-Family;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: rgba(#000, 0.85);
}

.ant-table tfoot > tr> td, .ant-table tfoot >tr > th, .ant-table-tbody > tr > td, .ant-table-thead > tr > th {
    padding: 16px 24px;
}

.ant-table-thead > tr > th {
    padding: 14px 24px;
}

.ant-table-cell {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(#000, 0.65);
}

.ant-table-column-sorters {
    justify-content: flex-start;
}

.ant-table-column-title {
    flex: unset;
}

.table-template-02 table {
    background-color: #fafafa;
    border-spacing: 0 12px;
}

.table-template-02 table > thead > tr > th {
    border-bottom: none;
    padding: 14px 0 5px;
}

.table-template-02 table > thead > tr > th::before {
    content: none !important;
}

.table-template-02 table .action-btn {
    height: 30px;
    padding: 4px 6px;
}

.table-template-02 table > tbody > tr > td {
    background-color: #FFF;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 19px 32px 19px 0;
    &:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 6px 0 0 6px;
        padding-left: 24px;
    }
    &:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 0 6px 6px 0;
    }
}
.table-custom table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    border-bottom: none !important;
}
.table-custom table > thead > tr > th {
    border-bottom: none;
    padding: 14px 0 !important;
}
.table-custom table > tbody > tr > td {
    border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
}

tr.ant-table-expanded-row>td {
    background-color: #fff;
}

.responsive-table {
    .ant-table-container {
        .ant-table-content {
            overflow-x: scroll;
            & > table {
                padding-left: 40px;
                padding-right: 40px;
                width: max-content;
                min-width: 100%;
                @media only screen and (max-width: @max-width-mobile) {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
    }
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
}
table > tbody > .notifications > td {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.03), rgba(255, 0, 0, 0.03)), #FFFFFF;
}