@import './fonts.less';

.ant-tabs-tab {
    font-family: @NotoSans-Family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.65);
    &.ant-tabs-tab-active {
        font-weight: 700;
    }
}
.tabsCustom {
    .ant-tabs-nav {
        margin: 0;
    }
    .ant-tabs-nav::before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    .ant-tabs-nav-list {
        margin: 0 0 0 40px;
    }
    .ant-tabs-tab {
        padding: 16px !important;
    }
}
