.ant-upload {
    width: 100% !important;
    border-radius: 8px !important;
}
.after-upload {
    & .ant-upload-select-picture-card {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
    }
}

