<template>
    <div>
        <slot />
    </div>
</template>
<style lang="scss">
@import '@/styles/global.scss';
</style>

<style lang="scss" scoped>
@import '@/styles/colors.scss';
.plain {
    background: transparent;
    & > .content {
        background-color: $background-color;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
