<template>
    <div class="wrap-login-page">
        <div class="bg">
            <div class="left-bottom">
                <img src="~/assets/images/image-bg-left.png">
            </div>
            <div class="right-top">
                <img src="~/assets/images/image-bg-right.png">
            </div>
        </div>
        <div class="content-login">
            <div class="logo">
                <img src="~/assets/images/logo_old_ecolife.png" alt="">
            </div>
            <a-form
                class="loginForm"
                :model="form"
                @finish="login"
            >
                <a-form-item
                    name="username"
                    class="formItem"
                >
                    <template #label>
                        Username:
                    </template>
                    <a-input
                        v-model:value="form.username"
                        placeholder="Username"
                    />
                </a-form-item>
                <a-form-item
                    label="รหัสผ่าน:"
                    name="password"
                    class="formItem"
                    :rules="[{ required: true, message: 'กรุณากรอกรหัสผ่าน' }]"
                >
                    <a-input-password
                        v-model:value="form.password"
                        placeholder="รหัสผ่าน"
                    />
                </a-form-item>
                <a-button
                    type="primary"
                    html-type="submit"
                    :loading="isLoading"
                >
                    เข้าสู่ระบบ
                </a-button>
            </a-form>
        </div>
    </div>
</template>
<script>
definePageMeta({
    layout: 'plain',
})
// const form = ref({
//     username: '',
//     password: ''
// })

// const isLoading = ref(false)
// const data = ref('gg')

// const login = value => {
//     console.log('object', value)
// }
export default {
    data() {
        return {
            form: {
                username: null,
                password: null
            },
            isLoading: false,
            data: 'gg'
        }
    },
    methods: {
        login() {}
    },
}
</script>
<style lang="scss" scoped>
@import "@/styles/colors.scss";
@import "@/styles/responsive.scss";
    .wrap-login-page {
        font-family: $Sarabun-Family;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        & .bg {
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: -1;
            display: flex;
            background-color: #F6F8FA;
            & .left-bottom {
                width: 100%;
                & img {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 640px;
                    height: 460px;
                }
            }
            &.right-top {
                width: 100%;
                & img {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 640px;
                    height: 460px;
                }
            }
        }
        & .content-login {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 463px;
            // height: 544px;
            padding: 64px 72px;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #EDEBE9;
            & .logo {
                width: 180px;
                margin: 0 auto;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            & > .loginForm {
                margin-top: 44px;
                display: block;
                & .formItem {
                    &::v-deep(.ant-form-item-required) {
                        &::before {
                            display: none;
                        }
                    }
                    &::v-deep(.ant-row) {
                        display: block !important;
                    }
                    &::v-deep(.ant-input) {
                        height: 40px;
                    }
                }
                & > .forgotPassword {
                    margin-top: -4px;
                    display: flex;
                    justify-content: flex-end;
                    a {
                    font-family: $Sarabun-Family;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: $blue-color;
                    }
                }
                & > button {
                    width: 100%;
                    margin-top: 24px;
                    border-radius: 8px;
                    background-color: $primary-color;
                }
            }
        }
    }
</style>
<style>
.ant-btn {
    height: 40px;
}
.ant-input {
    height: 40px;
}
</style>
