$primary-color: #83AA81;
$background-color: #FAFAFA;
$sidebar-color: #292623;
$border-color: #EDEBE9;

$red-color: #FF0000;
$orange-color: #F4821C;
$yellow-color: #FFC70C;
$green-color: #0AC775;
$blue-color: #2196F3;
