@import '@/styles/fonts/index.scss';

html {
    height: unset;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    body {
        font-family: $Sarabun-Family;
        display: flex;
        flex-direction: column;
        flex: 1;
        #__nuxt {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

.errorList {
    padding: 0 18px;
    margin-bottom: 0;
}


/* page transition */
.page-enter-active, .page-leave-active {
  transition: all 0.3s ease-in-out;
}
.page-enter-from {
    transform: translateY(30px);
    opacity: 0;
}
.page-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

/* layout-transition */
.layout-enter-active, .layout-leave-active {
  transition: all 0.3s ease-in-out;
}
.layout-enter-from {
    transform: translateY(30px);
    opacity: 0;
}
.layout-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}


/* No Data */
.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.45);
    font-size: 1.4rem;
}
